{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="registerContainer">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        
            <h1 class="main title">AirAdvisor</h1>
            <div class="register item">
                <h2 class="inscription">Inscription</h2>
                <div class="register_form">
                    {{ form_start(registrationForm) }}
                        <p>{{ form_row(registrationForm.email) }}</p>
                        <p>{{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}</p>
                        <p>{{ form_row(registrationForm.firstName)}}</p>
                        <p>{{ form_row(registrationForm.lastName)}}</p>
                        <p>{{ form_row(registrationForm.departureCity)}}</p>

                        <p class="agree"> {{ form_row(registrationForm.agreeTerms) }} </p>

                        <button type="submit" class="button go">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
    </div>
{% endblock %}
