
<div class="form-group">
    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.titre, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.titre) }}

    </div>
    <div class="mb-3">
        {{ form_label(form.comment, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.comment) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.rate, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.rate) }}
    </div>
    <div class="mb-3">
        
        {{ form_widget(form.submit) }}
    </div>
    
{{ form_end(form) }}
</div>

