{% extends 'base.html.twig' %}

{% block title %} {{website}} | Affinez votre rechreche sur le vol {{ flight.flightNumber }} {% endblock %}

{% block body %}
    <h1>Affinez votre recherche </h1>

    {{ include('flight/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('flight_index') }}">back to list</a>

    {{ include('flight/_delete_form.html.twig') }}
{% endblock %}
