{% extends 'base.html.twig' %}

{% block title %}Flight index{% endblock %}

{% block body %}
<div class="container bg-white ">
    
    <h1>Vols vers </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Company/Compagnie</th>
                <th>Flight Number/Numéro de vol</th>
                <th>Departure City/Aéroport de Départ</th>
                <th>Arrival City/Aéroport d'arrivée</th>
                <th>Scheduled at/ Prévu à</th>
                <th>Terminal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            
        
        {% if flights %}
            {% for flight in flights %}
            <tr>
                <td></td>
                <td>{{ flight.flightNumber | upper }}</td>
                <td>{{ flight.departureCity }}</td>
                <td>{{ flight.arrivalCity }}</td>
                <td></td>
                <td></td>
                <td>
                    <a href="{{ path('flight_show', {'id': flight.id}) }}">show</a>
                    <a href="{{ path('flight_edit', {'id': flight.id}) }}">edit</a>
                </td>
            </tr>
            {% endfor %}
           
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('flight_new') }}">Create new</a>
</div>
    
{% endblock %}
