{% extends 'base.html.twig' %}

{% block title %}Vol {{flight.flight.iataNumber|upper}}{% endblock %}
{% block header %}
{{ include('_navigation.html.twig') }}
{% endblock %}
{% block content %}
    <div class="container mt-5 pt-5">
       
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-Title mb-3">
                            {% if (flight.pathToLogo) %} 
                                {% set logo = asset(('build/images/logo-' ~ (flight.codeshared.airline.name|replace({' ':''})) ~ '.png'))  %}
                                        <img class="w-100" src="  {{  logo  }}   " alt="">
                            {% else %}
                            <h3>{{'compagnie non informée'}}</h3> 
                            {% endif %}
                            
                        </div>
                        <div class="card-text mt-5">
                            <div class="container"> 
                                <div class="row mb-5">
                                    <div class="col-6">
                                        <p>Aéroport de départ : </p>
                                        <p>{{flight.departure.iataCode|upper}}</p>
                                        <p>Aéroport d'arrivée : </p>
                                        <p>{{flight.arrival.iataCode|upper}}</p>
                                        
                                    </div>
                                    <div class="col-6">
                                        <h3 class="flight-number" >Vol N°{{flight.flight.iataNumber|upper}}</h3>
                                        <h3 class="flight-number">Prévu à : {{flight.departure.scheduledTime}}</h3>
                                    </div>
                                </div>
                                <table class="table mt-5">
                                    <thead>
                                        <th colspan="2" >Départ</th>
                                        <th colspan="2" >Arrivée</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope='col'>Terminal</th>
                                            <th scope='col'>Porte</th>
                                            <th scope='col'>Terminal</th>
                                            <th scope='col'>Porte</th>
                                        </tr>
                                        <tr>
                                            <th scope="row">{{flight.departure.terminal|upper}}</th>
                                            <td>{{flight.departure.gate|upper}}</td>
                                            <td>{{flight.arrival.terminal|upper}}</td>
                                            <td>{{flight.arrival.gate|upper}}</td>
                                        </tr>
                                        
                                    </tbody>
                            
                                </table>
                            </div>
                            
                            
                            
                            
                            
                        </div>
                        <div>
                            
                        </div>
                    </div>
                      
                            
                            <pre>
                                {{ dump(flight) }}
                            </pre>
                        
                         
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Le meilleur vol de ma vie!!</h3>
                        </div>
                        <div class="card-text">
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae dicta esse quo delectus optio non quae doloremque accusantium, nesciunt, deserunt numquam explicabo. Quisquam sunt ad pariatur incidunt molestiae commodi ducimus?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Le meilleur vol de ma vie!!</h3>
                        </div>
                        <div class="card-text">
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae dicta esse quo delectus optio non quae doloremque accusantium, nesciunt, deserunt numquam explicabo. Quisquam sunt ad pariatur incidunt molestiae commodi ducimus?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Le meilleur vol de ma vie!!</h3>
                        </div>
                        <div class="card-text">
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae dicta esse quo delectus optio non quae doloremque accusantium, nesciunt, deserunt numquam explicabo. Quisquam sunt ad pariatur incidunt molestiae commodi ducimus?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

   

   

    <a href="">edit</a>

    
{% endblock %}
{% block footer %} {{ parent() }}{% endblock %}