{% extends "base.html.twig" %}
{% block title %} {{ website }} | {{user.firstname|title}} {{ user.lastname|upper}}{% endblock %}
{% block content %}
<pre>
    {{ dump(user) }}
</pre>
<div class="container-fluid ">
    <div class="row pt-5 pb-5 justify-content-center">
        <div class="col col-6">
            
            <div class="card shadow rounded">
                <div style="min-height: 120px; max-height: 120px;background-color: #ff814d;"></div>
                {% set imgprofile = asset(('build/images/user/user-profile/img-profile-' ~ ( user.firstname ) ~ '-' ~ ( user.lastname|lower ) ~ '.jpeg')) %}
                <img src="{{imgprofile}}" class="img-profile mb-3 mx-3" style="margin-top: -110px;" alt="">
                <div class="card-body">
                    <div class="row">
                        
                    
                        <h1 class="card-title p-2">
                            {{user.firstname|title ~ ' ' ~ user.lastname|upper}}
                       </h1>
                 
                    </div>
                    <div class="row">
                        <p class="card-text mx-3 mb-2"> {{user.departureCity}} - <a class="link" href=""><span class="fw-bold">Mes Coordonnées</span></a></p> 
                        <a class="link text-center " href="#"><i class="fas fa-user-edit"></i></a>
                    </div>
                    <div class="row">
                        <h2 class="mx-2 px-2 mb-2">{{user.comments|length > 7 ? 'Super Advisor'}} </h2>
                        
                    </div>
                    <div class="row">
                        <p class="mx-2 px-2 mb-2">{{user.comments|length}} avis</p>
                    </div>
                   <div class="row">
                       <div class="col-3">
                           <button class="btn btn-outline-secondary">Suivre</button>
                       </div>
                   </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col col-5">
            <h2>Mes Avis</h2>
            {% if user.comments is not null %}
                  
                        {% for comment in user.comments %}
            <div class="card shadow rounded mb-3">
                <div class="card-body">
                     <h3>Vol : {{comment.flight.flightNumber}}</h3>
                     <h3>Compagnie : {{comment.flight.airlineName|upper}}</h3>
                     <h5>{{comment.flight.departureCity ~ ' - ' ~ comment.flight.arrivalCity}}</h5>
                    
                    
                        <h3>{{comment.titre|title}}</h3>
                        {% if comment.comment is not null %}

                             <p class="card-text">{{comment.comment|capitalize}}</p>
                            {% else %}
                            <p>Vous n'avez pas encore publié d'avis</p><a href="#" class="btn"><i class="far fa-comment"></i></a>
                        {% endif %}
                            
                     
                    
                </div>
               

            
            </div>
            {% endfor %}
                        
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
